{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block content %}
<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Confirm Register</h4>
            </div>
            <div class="card-body">
                {% include 'partials/_alerts.html' %}
                <form action="{% url 'confirmregister' %}" method="POST">
                    {% csrf_token %}
                  <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" name="first_name" class="form-control" value="{{first_name}}"readonly>
                </div>
                <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input type="text" name="last_name" class="form-control" value="{{last_name}}"readonly>
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" value="{{username}}"readonly>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" value="{{email}}"readonly>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" class="form-control" value="{{phone}}"readonly>
                  </div>
                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password" class="form-control" value="{{password}}"readonly>
                </div>
                <div class="form-group">
                    <label for="confirmcode">Confirmation Code</label>
                    <input type="password" name="confirmcode" class="form-control" required>
                  </div>
                <input type="submit" value="Register" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}