{% extends 'base.html' %}
{% load humanize %}
{% block tiltle %} Listings {% endblock %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{listing.title}}</h1>
          <p class="lead">
            <i class="fas fa-map-marker"></i>{{listing.city}} {{listing.state}}, {{listing.zipcode}}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
 {% include 'partials/_alerts.html'%}

    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'listings' %}">Listings</a>
          </li>
          <li class="breadcrumb-item active">{{listing.title}}</li>
        </ol>
      </nav>
    </div>
  </section>
  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{%url 'listings' %}" class="btn btn-light mb-4">Back To Listings</a>
      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->
          <img src="{{listing.photo_main.url}}" alt="" class="img-main img-fluid mb-3">
          <!-- Thumbnails -->
          <div class="row mb-5 thumbs">
            {% if listing.photo_1%}
            <div class="col-md-2">
              <a href="{{ listing.photo_1.url}}" data-lightbox="home-images">
                <img src="{{ listing.photo_1.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_2%}
            <div class="col-md-2">
              <a href="{{ listing.photo_2.url}}" data-lightbox="home-images">
                <img src="{{ listing.photo_2.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_3%}
            <div class="col-md-2">
              <a href="{{ listing.photo_3.url}}" data-lightbox="home-images">
                <img src="{{ listing.photo_3.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_4%}
            <div class="col-md-2">
              <a href="{{ listing.photo_4.url}}" data-lightbox="home-images">
                <img src="{{ listing.photo_4.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_5%}
            <div class="col-md-2">
              <a href="{{ listing.photo_5.url}}" data-lightbox="home-images">
                <img src="{{ listing.photo_5.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if listing.photo_6%}
            <div class="col-md-2">
              <a href="{{ listing.photo_6.url}}" data-lightbox="home-images">
                <img src="{{ listing.photo_6.url}}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
          </div>
          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-money-bill-alt"></i> Asking Price:
                  <span class="float-right"> {{ listing.price | intcomma }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-list-alt"></i> Category:
                  <span class="float-right">{{ listing.category}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-list-alt"></i> Rating:
                  {%if current_rating%}
                    <span class="float-right">{{ current_rating }}</span>
                  {%else%}
                    <p>No rating made for this listing yet</p>
                  {%endif%}
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar"></i> Listing Date:
                  <span class="float-right">{{listing.list_date | timesince}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-user"></i> Owner:
                  <span class="float-right">{{ listing.owner.first_name }}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                    <i class="fas fa-phone"></i> Phone No:
                    <span class="float-right">{{ listing.owner.phone }}
                    </span>
                  </li>


              </ul>
            </div>
          </div>

          <!-- Description -->
          <div class="row mb-5">
            <div class="col-md-12">
              <b>Description:</b> {{listing.description}}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Make An Inquiry</button>
          <br>
          {%if request.user.is_authenticated%}
            <form action="{%url 'listing' listing.id%}" method="POST">
              {%csrf_token%}
              {%if favourite%}
                <input type="hidden" name="favourite_val" value="unfavourite">
                <button class="btn-danger btn-block btn-lg" type="submit">UnFavourite</button>
              {%else%}
                <input type="hidden" name="favourite_val" value="favourite">
                <button class="btn-success btn-block btn-lg" type="submit">Favourite</button>
              {%endif%}
            </form>
          {%endif%}
          <br>
          {%if rate%}
            <form action="{%url 'listing' listing.id%}" method="POST">
              {%csrf_token%}
              <div style="display: flex;">
                <input  name="my_rating" required placeholder="Enter value from 1-10" class="form-control">
                <button class="btn btn-primary" type="submit">Rate</button>
              </div>
                {%else%}
              {%if request.user.is_authenticated%}
                <p>You have already rated this listing</p>
              {%else%}
                <p>Please login to rate this listing</p>
              {%endif%}
            </form>
          {%endif%}
        </div>
      </div>
    </div>
  </section>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'inquirys'%}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
            {%else%}
            <input type="hidden" name="user_id" value="0">
            {%endif%}
          
            <input type="hidden" name="owner_mail" value="{{listing.owner.email}}">
            <input type="hidden" name="listing_id" value="{{listing.id}}">
            <input type="hidden" name="owner_id" value="{{listing.owner.id}}">
            <div class="form-group">
              <label for="property_name" class="col-form-label">Item:</label>
              <input type="text" name="listing" class="form-control" value="{{listing.title}}" readonly>
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" class="form-control" {%if user.is_authenticated%} value = "{{ user.first_name }} {{ user.last_name }}" readonly{%else%} required {%endif%}>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" {%if user.is_authenticated%} value = "{{ user.email }}" readonly{%else%} required {%endif%}>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Message:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}